<style>
    .card {
        width: 100%;
        margin-bottom: 10px;
    }

    .card-title {
        color: rgba(0,0,0,.85);
        font-weight: 600;
        font-size: 20px;
    }

    .card-title-edit {
        width: 60%;
        border: none;
    }

    .card-title-box p {
        display: inline;
    }

    .card-title-box {
        margin-bottom: 20px;
    }

    .card-title-box-edit {
        margin-bottom: 5px;
    }

    .step-content {
        width: 60%;
    }

    .required-box {
        margin-bottom: 15px;
    }

    .operations {
        float: right;
        display: inline-block;
    }
</style>


<Card class="card">
    @if (Mode == Enums.Mode.View)
    {
        <div class="card-title-box">
            <p class="card-title">@StepItem.Title</p>

            @if (StepItem.Required)
            {
                <p class="card-title" style="color: red">*</p>
            }
        </div>
    }
    else
    {
        <div class="operations">
            <Button Type="@AntDesign.ButtonType.Link" Icon="@AntDesign.IconType.Outline.Up" OnClick="OnUpClick" />
            <Button Type="@AntDesign.ButtonType.Link" Icon="@AntDesign.IconType.Outline.Down" OnClick="OnDownClick" />
            <Button Type="@AntDesign.ButtonType.Link" Danger Icon="@AntDesign.IconType.Outline.Close" OnClick="OnCloseClick" />
        </div>

        <div class="card-title-box-edit">
            <p class="card-title">
                <input class="card-title card-title-edit" placeholder="Title" @bind-value="StepItem.Title" />
            </p>
        </div>

        <Checkbox Class="required-box" @bind-Value="StepItem.Required">Required</Checkbox>
    }

    <div class="step-content">
        @switch (StepItem)
        {
            case SimpleSurveys.Shared.Models.Radio r:
                <SimpleSurveys.Client.Components.Radio RadioItem="r" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Range r:
                <SimpleSurveys.Client.Components.Range RangeItem="r" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Text t:
                <SimpleSurveys.Client.Components.Text TextItem="t" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Check c:
                <SimpleSurveys.Client.Components.Check CheckItem="c" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.YesNo y:
                <SimpleSurveys.Client.Components.YesNo YesNoItem="y" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Date d:
                <SimpleSurveys.Client.Components.Date DateItem="d" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Number n:
                <SimpleSurveys.Client.Components.Number NumberItem="n" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.Rate r:
                <SimpleSurveys.Client.Components.Rate RateItem="r" Mode="@Mode" />
                break;
            case SimpleSurveys.Shared.Models.DropDown d:
                <SimpleSurveys.Client.Components.DropDown DropDownItem="d" Mode="@Mode" />
                break;
            default:
                <p>Error: Step is not of any known type</p>
                break;
        }
    </div>
</Card>
